.hero {
  padding-top: 153px;
  padding-left: 126px;
  position: relative;
  overflow-x: hidden;
}
h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 120px;
  line-height: 152px;
  letter-spacing: -0.039em;
  color: #151515;
  display: inline;
}

/* 101 */
.number {
  background-image: url("/images/trial.png");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 100% 100%;
}

.intro {
  padding-left: 40px;
  max-width: 549px;
  height: 810px;
}

.intro p {
  color: #757575;
  font-weight: 300;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.005em;
  line-height: 195.5%;
}

.intro img {
  display: block;
  margin: 0 auto;
}

/* The imgage beside the Jamstack title  */
.blur {
  position: absolute;
  left: 730px;
  top: 140px;
}

@media screen and (max-width: 800px) {
  .blur {
    position: static;
    width: 100%;
    height: auto;
  }
}

.center-img {
  position: relative;
  display: block;
  margin: 0 auto;
  z-index: 2;
}

.reposition {
  position: relative;
  display: block;
  margin: 0 auto;
  top: -850px;
}

.center-word {
  text-align: center;
  z-index: 3;
}

.java-section {
  position: relative;
}
.java {
  font-family: "Inter", sans-serif;
  font-size: 130px;
  color: white;
  font-weight: 900;
  text-align: center;
  width: 100%;
  margin-bottom: 75px;
}

.square {
  position: relative;
  top: -450px;
  z-index: -1;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.script-box {
  width: 40%;
  text-align: center;
  margin: auto;
}
.script {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 195.5%;
  text-align: center;
  letter-spacing: 0.005em;
  color: #ffffff;
  z-index: 3;
}

.black {
  position: relative;
  background-color: rgba(21, 21, 21, 1);
  height: 2500px;
  margin-left: -10px;
  margin-bottom: -10px;
  margin-right: -10px;
  margin-top: -1450px;
  z-index: -2;
}

.box {
  margin-left: -10px;
  margin-right: -10px;
  overflow-x: hidden;
}
.black-bottom {
  width: 103%;
  position: relative;
  z-index: -3;
  margin-top: -120px;
  margin-left: -10px;
}

.logo-border {
  border-left: 1px dashed rgba(232, 232, 232, 0.2);
  height: 2900px;
  position: absolute;
}

.vl1 {
  left: 5%;
}

.vl2 {
  left: 27.5%;
}

.vl3 {
  left: 50%;
}

.vl4 {
  left: 72.5%;
}

.vl5 {
  left: 95%;
}

/* Define the container for the falling images */
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.falling-image {
  position: absolute;
  animation: fall 2s linear infinite;
}

.lg1 {
  top: 225px;
}

.lg2 {
  top: 750px;
  animation-delay: 1.8s;
}

.lg3 {
  top: 350px;
  animation-delay: 0.5s;
}
.lg4 {
  top: 750px;
  animation-delay: 2.4s;
}

.lg5 {
  top: 550px;
  animation-delay: 0.4s;
}

.lg6 {
  top: 450px;
  animation-delay: 2.1s;
}

.lg7 {
  top: 950px;
  animation-delay: 2s;
}

@keyframes fall {
  0% {
    opacity: 0; /* Start with zero opacity (hidden) */
  }
  50% {
    opacity: 1; /* Show the image (fully visible) at the halfway point */
    transform: translateY(100px); /* Move down by 100 pixels */
  }
  70% {
    opacity: 1;
    transform: translateY(100px);
  }
  100% {
    opacity: 0;
    transform: translateY(500px);
  }
}
.api {
  font-size: 100px;
  position: relative;
  top: 1700px;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
}
.api-p {
  position: relative;
  width: 730px;
  height: 153px;
  left: 25%;
  top: 1656px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 162%;
  color: #ffffff;
}
.cir {
  position: absolute;
  top: -30%;
}
.glow {
  border-radius: 50%;
  box-shadow: 0 0 100px 20px rgba(255, 255, 255, 4);
}

.diagonal-spin {
  position: relative;
  animation: spin 4s linear infinite;
}

.diagonal-spin img {
  height: 100%;
}

/* keyframs for the circle movement */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.glow-container {
  position: relative;
  top: 65%;
}
.glow2 {
  position: absolute;
  top: -30%;
  right: 8%;
}

.blocks {
  position: relative;
  overflow-x: hidden;
  top: 10%;
  z-index: 3;
  height: 1900px;
  margin-left: -10px;
  margin-right: -10px;
}

.blur2 {
  position: absolute;
  top: 18%;
  left: 54%;
  overflow-x: hidden;
}

.markup {
  color: var(--colors-dark-gray, #151515);
  font-family: Inter, sans-serif;
  font-size: 133px;
  font-style: normal;
  font-weight: 900;
  line-height: 152.5px; /* 114.662% */
  letter-spacing: -5.187px;
  position: absolute;
  top: 13%;
  left: 10%;
}

.pmark {
  color: #414141;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 162%;
  width: 480px;
  position: absolute;
  top: 28%;
  left: 10%;
}

.wall {
  position: absolute;
  top: 72%;
}

.score {
  position: relative;
  top: -302px;
  background-color: #151515;
  margin-left: -10px;
  margin-bottom: -10px;
  margin-right: -10px;
  z-index: 5;
}
.scorebg {
  position: relative;
  top: -90px;
  z-index: 4;
}

.audit-p {
  position: relative;
  font-family: Inter, sans-serif;
  font-size: 76px;
  font-weight: 900;
  line-height: 92px;
  letter-spacing: -0.039em;
  text-align: center;
  z-index: 5;
  color: rgba(239, 255, 226, 1);
  top: -1390px;
}

svg {
  height: 350px;
  width: 280px;
}

circle {
  fill: transparent;
  stroke: rgba(239, 255, 226, 1);
  stroke-width: 4px;
  stroke-dasharray: 666;
  stroke-dashoffset: 666;
  stroke-linecap: round;
  transform: rotate(15deg);
  animation: clock-animation 5s linear;
  animation-fill-mode: forwards;
}
@keyframes clock-animation {
  0% {
    stroke-dashoffset: 424;
  }
  100% {
    stroke-dashoffset: 34;
  }
}

.ring-glow {
  border-radius: 50%;
  filter: drop-shadow(2px 2px 100px 20px rgba(83, 251, 42, 1));
}

.trial {
  position: relative;
  z-index: 6;
  margin-left: 13%;
  top: -1450px;
}

.path {
  background: transparent;
  height: 200px;
  /* clip-path: <path d="M0 0H1512V142.667C1512 142.667 1439 165.822 1302.5 165.822C1166 165.822 1036 104.946 821 104.946C606 104.946 484.5 214 304.5 214C124.5 214 0 142.667 0 142.667V0Z" fill="#151515"/>;
  border: dashed 5px gold;  */
}

.textbox {
  width: 756px;
  margin-left: 13%;
  margin-top: 7%;
  color: #c7c7c7;
  font-family: Inter, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 162%;
  mix-blend-mode: color-dodge;
}
