.hero {
  border: 1px solid pink;
  padding-top: 153px;
  padding-left: 126px;
  position: relative;
  overflow-x: hidden;
}
h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 120px;
  line-height: 152px;
  letter-spacing: -0.039em;
  color: #151515;
  display: inline;
}

/* 101 */
.number {
  background-image: url("/images/trial.png");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 100% 100%;
}

.intro {
  padding-left: 40px;
  max-width: 549px;
}

.intro p {
  color: #757575;
  font-weight: 300;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.005em;
  line-height: 195.5%;
}

.intro img {
  display: block;
  margin: 0 auto;
}

/* The imgage beside the Jamstack title  */
.blur {
  position: absolute;
  left: 730px;
  top: 140px;
}

@media screen and (max-width: 800px) {
  .blur {
    position: static;
    width: 100%;
    height: auto;
  }
}

.javascript-section {
  margin-top: 70px;
}
.center-img {
  position: relative;
  display: block;
  margin-inline: auto;
  z-index: 2;
}

.reposition {
  margin-bottom: 100px;
  position: relative;
  bottom: 550px;
}

.center-word {
  text-align: center;
  z-index: 3;
}

.java {
  font-family: "Inter", sans-serif;
  font-size: 130px;
  bottom: 300px;
  position: relative;
  bottom: 1800px;
  color: white;
  font-weight: 900;
}

.script {
  position: absolute;
  width: 578px;
  height: 105px;
  left: 468px;
  top: 1400px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 195.5%;
  text-align: center;
  letter-spacing: 0.005em;
  color: #ffffff;
}

.black {
  position: relative;
  background-color: black;
  height: 2900px;
  margin-left: -10px;
  margin-bottom: -10px;
  margin-right: -10px;
  margin-top: -1450px;
  border-bottom-left-radius: 10% 3%;
  border-bottom-right-radius: 100% 5%;
  z-index: 1;
}

.logo-border {
  border-left: 1px dashed rgba(232, 232, 232, 0.2);
  height: 2900px;
  position: absolute;
}

.vl1 {
  left: 5%;
}

.vl2 {
  left: 27.5%;
}

.vl3 {
  left: 50%;
}

.vl4 {
  left: 72.5%;
}

.vl5 {
  left: 95%;
}

/* Define the container for the falling images */
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.falling-image {
  position: absolute;
  animation: fall 2s linear infinite;
}

.lg1 {
  top: 225px;
}

.lg2 {
  top: 750px;
  animation-delay: 1.8s;
}

.lg3 {
  top: 350px;
  animation-delay: 0.5s;
}
.lg4 {
  top: 750px;
  animation-delay: 2.4s;
}

.lg5 {
  top: 550px;
  animation-delay: 0.4s;
}

.lg6 {
  top: 450px;
  animation-delay: 2.1s;
}

.lg7 {
  top: 950px;
  animation-delay: 2s;
}

@keyframes fall {
  0% {
    opacity: 0; /* Start with zero opacity (hidden) */
  }
  50% {
    opacity: 1; /* Show the image (fully visible) at the halfway point */
    transform: translateY(100px); /* Move down by 100 pixels */
  }
  70% {
    opacity: 1;
    transform: translateY(100px);
  }
  100% {
    opacity: 0;
    transform: translateY(500px);
  }
}
.api {
  font-size: 100px;
  position: relative;
  top: 1700px;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
}
.api-p {
  position: relative;
  width: 730px;
  height: 153px;
  left: 50%;
  top: 1656px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 162%;
  color: #ffffff;
}
.cir {
  position: absolute;
  top: -30%;
}
.glow {
  border-radius: 50%;
  box-shadow: 0 0 100px 20px rgba(255, 255, 255, 1);
}

.diagonal-spin {
  position: relative;
  animation: spin 4s linear infinite;
}

.diagonal-spin img {
  height: 100%;
}

/* keyframs for the circle movement */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.glow-container {
  position: relative;
  top: 65%;
}
.glow2 {
  position: absolute;
  top: -30%;
  right: 8%;
}
