---
import "../styles/global.css";
import { Image } from 'astro:assets';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>jamstack 101</title>
	</head>
	
	<body>
		<h1>jamstack</h1>
		<h1 class = "number"> 101</h1>
		<Image class = "blur "src="/images/Hero-graphic.png" alt="A bird." width="800" height="1000"/>
		<p class = "intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu augue massa, tincidunt proin nunc viverra tristique tempor, ipsum. At lectus vel pretium tempor ut dui vivamus sit. </p>
		<Image class = "center-img"src = "/images/orange-square.svg" alt="part 2" width = "1400" height="1000"/>
		<Image class = "center-img reposition"src = "/images/computer.png" alt="computer" width = "800" height="800"/>
		<h2 class = "center-word java">javascript</h2>
		<p class = "script">Statically generated pages are brought to life with client-side JavaScript libraries and frameworks, such as Algolia and Next.js.</p>
		<div class = "black ">
			<div class = "vl1 ">
				<Image class = "center-img falling-image fade-out-image"src = "/images/react.svg" alt="part 2" width = "300" height="300"/>
				<Image class = "center-img falling-image3 fade-out-image"src = "/images/svelte.svg" alt="part 2" width = "300" height="300"/>

			</div>
			<div class = "vl2">
				<!-- <Image class = "center-img show-image go-image "src = "/images/nextjs.svg" alt="part 2" width = "300" height="300"/> -->
				<Image class = "center-img falling-image2 fade-out-image"src = "/images/nextjs.svg" alt="part 2" width = "300" height="300"/> 
			</div>
			<div class = "vl3">
				<Image class = "center-img falling-image4 fade-out-image"src = "/images/vue.svg" alt="part 2" width = "300" height="300"/>
			</div>
			<div class = "vl4">
				<Image class = "center-img falling-image1 fade-out-image"src = "/images/nextjs.svg" alt="part 2" width = "300" height="300"/>
			</div>
			<div class = "vl5"></div>
			

		</div>
	
	</body>
	
</html>
